<% @posts.each do |post| %>
    <%= link_to post_path(post), class: "posts" do %>
        <h2 class="post_title">
            <%= post.title %>
        </h2>

        <p class="post_user">
            <% if user_signed_in? %>
                <%= post.user.name %>
            <% else %>
                Post author is only visible to logged in users!
            <% end %>
        </p>

        <p class="post_body">
            <%= post.body %>
        </p>
    <% end %>
<% end %>