<% content_for :sidebar do %>
    <li id="new_post_nav">
      <h3><%= link_to "New Post", new_post_path %></h3>
    </li>
<% end %>

<% @posts.each do |post| %>
    <div class="post">
        <h2 class="post_title">
            <%= post.title %>
        </h2>
        <h3 class="post_user">
            <% if user_signed_in? %>
                <%= post.user.name %>
            <% else %>
                Names are only visible to logged in users!
            <% end %>
        </h3>
        <p class="post_body">
            <%= post.body %>
        </p>
    </div>
<% end %>