<% @posts.each do |post| %>
    <%= link_to post_path(post), class: "posts" do %>
        <li class="post_title sidebar">
            <%= post.title %>
            <% if user_signed_in? %>
               by <%= post.user.name %>
            <% end %>
        </li>

        <li class="post_body sidebar">
            <%= post.body %>
        </li>
    <% end %>
<% end %>