/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-size: 6.25%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --sidebar-color: blue;
    --sidebar-hover-color: rgb(0, 0, 181);
    --heading-size: min(20rem, 4vw);
    --content-size: min(12rem, 3vw);
    --default-font-color: black;
    --default-padding: 1.1vw;
    --content-background: lightblue;
}

a {
    text-decoration: none;
    color: var(--default-font-color);
}

h1 {
    font-size: min(30rem, 6vw);
    margin: 0;
}

h2,
h3 {
    font-size: var(--heading-size);
    margin: 0;
}

p {
    font-size: var(--content-size);
    margin: 0;
}

.notice,
.alert {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: min-content;
    width: min-content;
    font-size: var(--content-size);
    border-radius: 5rem;
    z-index: 10;
}

.notice {
    background-color: aquamarine;
}

.alert {
    background-color: salmon;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh 90vh;
}

#menu_button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, var(--sidebar-color), white);
    z-index: 3;
}

#menu_button img {
    filter: invert(0.9);
    width: min(48px, 9vw);
    height: auto;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 2rem 15rem gray;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background: linear-gradient(90deg, var(--sidebar-color), white);
}

#sidebar a,
#menu_button {
    color: aliceblue;
    display: block;
    padding: var(--default-padding);
}

#sidebar a:hover {
    background: linear-gradient(90deg, var(--sidebar-hover-color), white);
}

main {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-size);
}